@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

:root {
  --body-background: #f7f7f7;
  --primary-color: #66f;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  font-weight: 400;
  font-family: 'Inter', sans-serif;
  line-height: 1.7;
}

body {
  box-sizing: border-box;
  background-color: var(--body-background);
}

main {
  padding: 0 1rem;
  min-height: 60vh;
}

.loading {
  text-align: center;
  font-weight: 600;
  font-size: 3rem;
}
